{% load static %}
<header class="navbar">
    <div class="logo">
        <a href="{% url 'home' %}" style="text-decoration:none;">
            <span class="logo-main">CodeMentor</span><span>Hub</span>
        </a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'find_mentors' %}">Find Mentors</a></li>
            <li><a href="{% url 'quiz_categories' %}">Mock Tests</a></li>
            {% if user.is_authenticated %}
                {% if user.is_authenticated and user.mentor_profile %}
                    <li><a href="{% url 'mentor_dashboard' %}">Mentor Dashboard</a></li>
                {% endif %}
                <li><a href="{% url 'mentee_dashboard' %}">My Sessions</a></li>
                <li><a href="{% url 'hire_developer' %}">Hire a developer</a></li>
                {% if request and request.resolver_match and request.resolver_match.url_name == 'home' %}
                    <li><span class="welcome-text">Welcome, {{ user.first_name|default:user.username }}!</span></li>
                {% endif %}
                <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="btn">Login</a></li>
                <li><a href="{% url 'signup' %}" class="btn-secondary">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>